{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Сброс пароля</h4>
                </div>
                <div class="card-body">
                    <p>Пожалуйста, введите новый пароль.</p>
                    <div class="mb-3">
                        <label for="id_new_password1" class="form-label">Новый пароль</label>
                        <input type="password" name="new_password1" id="id_new_password1"
                               class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_new_password2" class="form-label">Подтверждение нового пароля</label>
                        <input type="password" name="new_password2" id="id_new_password2"
                               class="form-control" required>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Сбросить пароль</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}