{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header text-center">
                <h4>Пароль изменён</h4>
            </div>
            <div class="card-body text-center">
                <p>Ваш пароль был успешно сброшен</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'users:login' %}" class="btn btn-primary">Войти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}