{% extends 'base.html' %}

{% block title %}Статус рассылки{% endblock %}

{% block content %}
<div class="row mb-4 mt-5">
            {% if not user.is_authenticated or is_manager %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Уникальные получатели</h5>
                            <p class="card-text">{{ unique_recipients }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Всего рассылок</h5>
                            <p class="card-text">{{ total_mailings }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Активные рассылки</h5>
                            <p class="card-text">{{ active_mailings }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-4r">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Успешные попытки</h5>
                            <p class="card-text">{{ successful_attempts }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cardt">
                        <div class="card-body">
                            <h5 class="card-title">Неуспешные попытки</h5>
                            <p class="card-text">{{ failed_attempts }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Отправленные сообщения</h5>
                            <p class="card-text">{{ sent_messages }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

<a href="{% url 'service:mailing_list' %}" class="btn btn-secondary">Назад</a>
{% endblock %}